In [1]:
import pandas as pd
from utils.folders_tb import jsonlink_df
from utils.mining_data_tb import extract_dict_values,filter_df, df_covid

In [18]:
covid = jsonlink_df('https://covid.ourworldindata.org/data/owid-covid-data.json').T
covid

,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,data,extreme_poverty,female_smokers,male_smokers
AFG,Asia,Afghanistan,3.89283e+07,54.422,18.6,2.581,1.337,1803.99,597.029,9.59,37.746,0.5,64.83,0.498,"[{'date': '2020-02-24', 'total_cases': 1.0, 'n...",NaN,NaN,NaN
ALB,Europe,Albania,2.8778e+06,104.871,38,13.188,8.643,11803.4,304.195,10.08,NaN,2.89,78.57,0.785,"[{'date': '2020-03-09', 'total_cases': 2.0, 'n...",1.1,7.1,51.2
DZA,Africa,Algeria,4.3851e+07,17.348,29.1,6.211,3.857,13913.8,278.364,6.73,83.741,1.9,76.88,0.754,"[{'date': '2020-02-25', 'total_cases': 1.0, 'n...",0.5,0.7,30.4
AND,Europe,Andorra,77265,163.755,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.858,"[{'date': '2020-03-02', 'total_cases': 1.0, 'n...",NaN,29,37.8
AGO,Africa,Angola,3.28663e+07,23.89,16.8,2.405,1.362,5819.49,276.045,3.94,26.664,NaN,61.15,0.581,"[{'date': '2020-03-20', 'total_cases': 1.0, 'n...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,Asia,Vietnam,9.73386e+07,308.127,32.6,7.15,4.718,6171.88,245.465,6,85.847,2.6,75.4,0.694,"[{'date': '2020-01-23', 'total_cases': 2.0, 'n...",2,1,45.9
OWID_WRL,NaN,World,7.7948e+09,58.045,30.9,8.696,5.355,15469.2,233.07,8.51,60.13,2.705,72.58,NaN,"[{'date': '2020-01-22', 'total_cases': 557.0, ...",10,6.434,34.635
YEM,Asia,Yemen,2.9826e+07,53.508,20.3,2.922,1.583,1479.15,495.003,5.35,49.542,0.7,66.12,0.452,"[{'date': '2020-04-10', 'total_cases': 1.0, 'n...",18.8,7.6,29.2
ZMB,Africa,Zambia,1.8384e+07,22.995,17.7,2.48,1.542,3689.25,234.499,3.94,13.938,2,63.89,0.588,"[{'date': '2020-03-18', 'total_cases': 2.0, 'n...",57.5,3.1,24.7
ZWE,Africa,Zimbabwe,1.48629e+07,42.729,19.6,2.822,1.882,1899.78,307.846,1.82,36.791,1.7,61.49,0.535,"[{'date': '2020-03-20', 'total_cases': 1.0, 'n...",21.4,1.6,30.7

In [19]:
covid=filter_df(covid,'location','Argentina','Russia', 'Colombia', 'Chile', 'Spain')
covid

,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,data,extreme_poverty,female_smokers,male_smokers
ARG,South America,Argentina,4.51958e+07,16.177,31.9,11.198,7.441,18933.9,191.032,5.5,NaN,5,76.67,0.825,"[{'date': '2020-01-01', 'total_tests': 4.0, 'n...",0.6,16.2,27.7
CHL,South America,Chile,1.91162e+07,24.282,35.4,11.087,6.938,22767,127.993,8.46,NaN,2.11,80.18,0.843,"[{'date': '2020-02-23', 'total_cases': 2.0, 'n...",1.3,34.2,41.5
COL,South America,Colombia,5.08829e+07,44.223,32.2,7.646,4.312,13254.9,124.24,7.44,65.386,1.71,77.29,0.747,"[{'date': '2020-03-06', 'total_cases': 1.0, 'n...",4.5,4.7,13.5
RUS,Europe,Russia,1.45934e+08,8.823,39.6,14.178,9.393,24766,431.297,6.18,NaN,8.05,72.58,0.816,"[{'date': '2020-01-31', 'total_cases': 2.0, 'n...",0.1,23.4,58.3
ESP,Europe,Spain,4.67548e+07,93.105,45.5,19.436,13.799,34272.4,99.403,7.17,NaN,2.97,83.56,0.891,"[{'date': '2020-02-01', 'total_cases': 1.0, 'n...",1,27.4,31.4

In [20]:
covid= df_covid(covid, "data")
covid

,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,...,data.new_vaccinations_smoothed_per_million,data.new_vaccinations,data.weekly_icu_admissions,data.weekly_icu_admissions_per_million,data.weekly_hosp_admissions,data.weekly_hosp_admissions_per_million,data.icu_patients,data.icu_patients_per_million,data.hosp_patients,data.hosp_patients_per_million
0,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1433.0,94548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1737,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1500.0,92764.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1738,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1739,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1502.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1503.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 54 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   continent                                   1741 non-null   object
 1   location                                    1741 non-null   object
 2   population                                  1741 non-null   float64
 3   population_density                          1741 non-null   float64
 4   median_age                                  1741 non-null   float64
 5   aged_65_older                               1741 non-null   float64
 6   aged_70_older                               1741 non-null   float64
 7   gdp_per_capita                              1741 non-null   float64
 8   cardiovasc_death_rate                       1741 non-null   float64
 9   diabetes_prevalence                         1741 non-null   float64
 10  handwashing_facilities                      319 non-null    float64
 11  hospital_beds_per_thousand                  1741 non-null   float64
 12  life_expectancy                             1741 non-null   float64
 13  human_development_index                     1741 non-null   float64
 14  extreme_poverty                             1741 non-null   float64
 15  female_smokers                              1741 non-null   float64
 16  male_smokers                                1741 non-null   float64
 17  data.date                                   1741 non-null   object
 18  data.total_tests                            1209 non-null   float64
 19  data.new_tests                              1157 non-null   float64
 20  data.total_tests_per_thousand               1209 non-null   float64
 21  data.new_tests_per_thousand                 1157 non-null   float64
 22  data.tests_units                            1483 non-null   object
 23  data.stringency_index                       1723 non-null   float64
 24  data.new_tests_smoothed                     1448 non-null   float64
 25  data.new_tests_smoothed_per_thousand        1448 non-null   float64
 26  data.total_cases                            1679 non-null   float64
 27  data.new_cases                              1679 non-null   float64
 28  data.total_cases_per_million                1679 non-null   float64
 29  data.new_cases_per_million                  1679 non-null   float64
 30  data.new_cases_smoothed                     1654 non-null   float64
 31  data.total_deaths                           1551 non-null   float64
 32  data.new_deaths                             1551 non-null   float64
 33  data.new_deaths_smoothed                    1654 non-null   float64
 34  data.new_cases_smoothed_per_million         1654 non-null   float64
 35  data.total_deaths_per_million               1551 non-null   float64
 36  data.new_deaths_per_million                 1551 non-null   float64
 37  data.new_deaths_smoothed_per_million        1654 non-null   float64
 38  data.positive_rate                          1382 non-null   float64
 39  data.tests_per_case                         1382 non-null   float64
 40  data.reproduction_rate                      1498 non-null   float64
 41  data.total_vaccinations                     33 non-null     float64
 42  data.total_vaccinations_per_hundred         33 non-null     float64
 43  data.new_vaccinations_smoothed              85 non-null     float64
 44  data.new_vaccinations_smoothed_per_million  85 non-null     float64
 45  data.new_vaccinations                       16 non-null     float64
 46  data.weekly_icu_admissions                  50 non-null     float64
 47  data.weekly_icu_admissions_per_million      50 non-null     float64
 48  data.weekly_hosp_admissions                 50 non-null     float64
 49  data.weekly_hosp_admissions_per_million     50 non-null     float64
 50  data.icu_patients                           97 non-null     float64
 51  data.icu_patients_per_million               97 non-null     float64
 52  data.hosp_patients                          97 non-null     float64
 53  data.hosp_patients_per_million              97 non-null     float64
dtypes: float64(50), object(4)
memory usage: 734.6+ KB

In [7]:
covid["data.tests_units"]

0       people tested
1       people tested
2       people tested
3       people tested
4       people tested
            ...
1736              NaN
1737              NaN
1738              NaN
1739              NaN
1740              NaN
Name: data.tests_units, Length: 1741, dtype: object

In [8]:
covid.columns.value_counts()

female_smokers                                1
data.stringency_index                         1
median_age                                    1
data.positive_rate                            1
data.total_vaccinations_per_hundred           1
data.new_tests_smoothed_per_thousand          1
hospital_beds_per_thousand                    1
data.new_tests_per_thousand                   1
data.total_tests                              1
data.new_vaccinations_smoothed_per_million    1
data.new_vaccinations_smoothed                1
gdp_per_capita                                1
cardiovasc_death_rate                         1
location                                      1
data.new_deaths_smoothed                      1
data.new_deaths_smoothed_per_million          1
data.hosp_patients_per_million                1
data.total_tests_per_thousand                 1
data.new_cases                                1
data.total_deaths_per_million                 1
population                                    1
data.new_cases_smoothed_per_million           1
data.weekly_icu_admissions                    1
data.new_cases_per_million                    1
data.total_cases                              1
data.new_vaccinations                         1
data.total_cases_per_million                  1
diabetes_prevalence                           1
male_smokers                                  1
aged_70_older                                 1
data.total_deaths                             1
data.new_cases_smoothed                       1
data.tests_per_case                           1
data.weekly_hosp_admissions                   1
human_development_index                       1
data.hosp_patients                            1
data.icu_patients                             1
data.new_deaths_per_million                   1
extreme_poverty                               1
handwashing_facilities                        1
data.weekly_icu_admissions_per_million        1
data.total_vaccinations                       1
continent                                     1
aged_65_older                                 1
data.icu_patients_per_million                 1
data.tests_units                              1
data.new_deaths                               1
data.date                                     1
data.weekly_hosp_admissions_per_million       1
life_expectancy                               1
data.new_tests_smoothed                       1
data.new_tests                                1
population_density                            1
data.reproduction_rate                        1
dtype: int64

In [11]:
covid.dropna(axis='columns')

,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,hospital_beds_per_thousand,life_expectancy,human_development_index,extreme_poverty,female_smokers,male_smokers,data.date
0,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,5.00,76.67,0.825,0.6,16.2,27.7,2020-01-01
1,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,5.00,76.67,0.825,0.6,16.2,27.7,2020-01-02
2,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,5.00,76.67,0.825,0.6,16.2,27.7,2020-01-03
3,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,5.00,76.67,0.825,0.6,16.2,27.7,2020-01-04
4,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,5.00,76.67,0.825,0.6,16.2,27.7,2020-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,2.97,83.56,0.891,1.0,27.4,31.4,2021-01-14
1737,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,2.97,83.56,0.891,1.0,27.4,31.4,2021-01-15
1738,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,2.97,83.56,0.891,1.0,27.4,31.4,2021-01-16
1739,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,2.97,83.56,0.891,1.0,27.4,31.4,2021-01-17
1740,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,2.97,83.56,0.891,1.0,27.4,31.4,2021-01-18

In [12]:
covid.dropna(axis='rows')

Empty DataFrame
Columns: [continent, location, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, cardiovasc_death_rate, diabetes_prevalence, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, extreme_poverty, female_smokers, male_smokers, data.date, data.total_tests, data.new_tests, data.total_tests_per_thousand, data.new_tests_per_thousand, data.tests_units, data.stringency_index, data.new_tests_smoothed, data.new_tests_smoothed_per_thousand, data.total_cases, data.new_cases, data.total_cases_per_million, data.new_cases_per_million, data.new_cases_smoothed, data.total_deaths, data.new_deaths, data.new_deaths_smoothed, data.new_cases_smoothed_per_million, data.total_deaths_per_million, data.new_deaths_per_million, data.new_deaths_smoothed_per_million, data.positive_rate, data.tests_per_case, data.reproduction_rate, data.total_vaccinations, data.total_vaccinations_per_hundred, data.new_vaccinations_smoothed, data.new_vaccinations_smoothed_per_million, data.new_vaccinations, data.weekly_icu_admissions, data.weekly_icu_admissions_per_million, data.weekly_hosp_admissions, data.weekly_hosp_admissions_per_million, data.icu_patients, data.icu_patients_per_million, data.hosp_patients, data.hosp_patients_per_million]
Index: []

[0 rows x 54 columns]

In [6]:
#copiar en mining_data
def datetime(dt=None, val1=None):
    dt[val1]= dt[val1].apply(pd.to_datetime)
    return datetime

In [21]:
covid["data.date"]= covid["data.date"].apply(pd.to_datetime)
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 54 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   continent                                   1741 non-null   object
 1   location                                    1741 non-null   object
 2   population                                  1741 non-null   float64
 3   population_density                          1741 non-null   float64
 4   median_age                                  1741 non-null   float64
 5   aged_65_older                               1741 non-null   float64
 6   aged_70_older                               1741 non-null   float64
 7   gdp_per_capita                              1741 non-null   float64
 8   cardiovasc_death_rate                       1741 non-null   float64
 9   diabetes_prevalence                         1741 non-null   float64
 10  handwashing_facilities                      319 non-null    float64
 11  hospital_beds_per_thousand                  1741 non-null   float64
 12  life_expectancy                             1741 non-null   float64
 13  human_development_index                     1741 non-null   float64
 14  extreme_poverty                             1741 non-null   float64
 15  female_smokers                              1741 non-null   float64
 16  male_smokers                                1741 non-null   float64
 17  data.date                                   1741 non-null   datetime64[ns]
 18  data.total_tests                            1209 non-null   float64
 19  data.new_tests                              1157 non-null   float64
 20  data.total_tests_per_thousand               1209 non-null   float64
 21  data.new_tests_per_thousand                 1157 non-null   float64
 22  data.tests_units                            1483 non-null   object
 23  data.stringency_index                       1723 non-null   float64
 24  data.new_tests_smoothed                     1448 non-null   float64
 25  data.new_tests_smoothed_per_thousand        1448 non-null   float64
 26  data.total_cases                            1679 non-null   float64
 27  data.new_cases                              1679 non-null   float64
 28  data.total_cases_per_million                1679 non-null   float64
 29  data.new_cases_per_million                  1679 non-null   float64
 30  data.new_cases_smoothed                     1654 non-null   float64
 31  data.total_deaths                           1551 non-null   float64
 32  data.new_deaths                             1551 non-null   float64
 33  data.new_deaths_smoothed                    1654 non-null   float64
 34  data.new_cases_smoothed_per_million         1654 non-null   float64
 35  data.total_deaths_per_million               1551 non-null   float64
 36  data.new_deaths_per_million                 1551 non-null   float64
 37  data.new_deaths_smoothed_per_million        1654 non-null   float64
 38  data.positive_rate                          1382 non-null   float64
 39  data.tests_per_case                         1382 non-null   float64
 40  data.reproduction_rate                      1498 non-null   float64
 41  data.total_vaccinations                     33 non-null     float64
 42  data.total_vaccinations_per_hundred         33 non-null     float64
 43  data.new_vaccinations_smoothed              85 non-null     float64
 44  data.new_vaccinations_smoothed_per_million  85 non-null     float64
 45  data.new_vaccinations                       16 non-null     float64
 46  data.weekly_icu_admissions                  50 non-null     float64
 47  data.weekly_icu_admissions_per_million      50 non-null     float64
 48  data.weekly_hosp_admissions                 50 non-null     float64
 49  data.weekly_hosp_admissions_per_million     50 non-null     float64
 50  data.icu_patients                           97 non-null     float64
 51  data.icu_patients_per_million               97 non-null     float64
 52  data.hosp_patients                          97 non-null     float64
 53  data.hosp_patients_per_million              97 non-null     float64
dtypes: datetime64[ns](1), float64(50), object(3)
memory usage: 734.6+ KB

In [22]:
covid

,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,...,data.new_vaccinations_smoothed_per_million,data.new_vaccinations,data.weekly_icu_admissions,data.weekly_icu_admissions_per_million,data.weekly_hosp_admissions,data.weekly_hosp_admissions_per_million,data.icu_patients,data.icu_patients_per_million,data.hosp_patients,data.hosp_patients_per_million
0,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1433.0,94548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1737,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1500.0,92764.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1738,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1739,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1502.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,...,1503.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN